@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Styles pour chaque type de Pokémon */

.type-plante {
  background: linear-gradient(45deg, #4e8234, #78c850) !important;
}

.type-poison {
  background: linear-gradient(45deg, #5d1a5d, #a040a0) !important;
}

.type-feu {
  background: linear-gradient(45deg, #b23300, #f08030) !important;
}

.type-vol {
  background: linear-gradient(45deg, #6d5eb7, #a890f0) !important;
}

.type-spectre {
  background: linear-gradient(45deg, #4b3b67, #705898) !important;
}

.type-eau {
  background: linear-gradient(45deg, #3b5796, #6890f0) !important;
}

.type-insecte {
  background: linear-gradient(45deg, #6d7815, #a8b820) !important;
}

.type-normal {
  background: linear-gradient(45deg, #6d6d4e, #a8a878) !important;
}

.type-électrik {
  background: linear-gradient(45deg, #a1871f, #f8d030) !important;
}

.type-sol {
  background: linear-gradient(45deg, #927d44, #e0c068) !important;
}

.type-fée {
  background: linear-gradient(45deg, #c36a75, #ee99ac) !important;
}

.type-roche {
  background: linear-gradient(45deg, #786824, #b8a038) !important;
}

.type-combat {
  background: linear-gradient(45deg, #7d1f1a, #c03028) !important;
}

.type-psy {
  background: linear-gradient(45deg, #a13959, #f85888) !important;
}

.type-glace {
  background: linear-gradient(45deg, #638d8d, #98d8d8) !important;
}

.type-dragon {
  background: linear-gradient(45deg, #4924a1, #7038f8) !important;
}

.type-acier {
  background: linear-gradient(45deg, #787887, #b8b8d0) !important;
}

.type-ténèbres {
  background: linear-gradient(45deg, #49392f, #705848) !important;
}

.header {
  background-image: url(/static/images/bg-header2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 10rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  max-height: 100px; /* Ajustez la hauteur du logo */
  max-width: 100%;
}

.nav {
  display: flex;
  align-items: center;
}

.search-form {
  margin-right: 1rem; /* Espace entre la barre de recherche et la navigation */
  display: flex;
  align-items: center;
}

.search-input {
  border-radius: 20px;
  margin-right: 0.5rem;
}

.search-button {
  background-color: #ff4b5c;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: #e3444e;
}

.menu {
  display: flex;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-left: 1rem;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  transition: all 0.3s;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}

.nav-menu.open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.nav-menu .search-form,
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Type style  */
.type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.type-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #fff;
  transition: transform 0.2s;
}

.type-card img {
  width: 50px;
  height: 50px;
}

.type-card:hover {
  transform: scale(1.1);
}

.content-title {
  color: #ff4b5c;
  text-align: center;
  margin-top: 2rem;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem 1rem;
  overflow: hidden;
  width: calc(11% - 2rem);
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pokemon-card header {
  padding: 1rem;
  color: #fff;
  min-height: 100%;
}

.pokemon-card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.pokemon-card p {
  font-size: 1rem;
  color: #333;
}

.pokemon-card .pure-button {
  background-color: transparent;
  color: #fff;
  text-align: center;
  display: block;
  padding: 0.5rem 0;
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 5px;
}

.pokemon-card .pure-button:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: transform 0.2s, color 0.2s, text-decoration 0.2s;
}

.pokemon-detail {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon-detail header {
  text-align: center;
  color: #fff;
}

.pokemon-detail img {
  width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

.pokemon-detail h2 {
  margin: 0;
  font-size: 2rem;
  color: #fff;
}

.pokemon-detail h3 {
  font-size: 1.5rem;
  color: #fff;
}

.pokemon-detail p {
  font-size: 1rem;
  color: #fff;
}

.footer-menu .menu-link {
  color: #333;
}

footer {
  background-color: #f2f2f2;
  padding: 1rem 0;
  text-align: center;
}

.pokemon-number {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(145, 145, 145, 0.887);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  display: none;
}

.pokemon-card:hover .pokemon-number {
  display: block;
}

/* Responsive design pour les très grands écrans */
@media (min-width: 1801px) {
  .pokemon-card {
    width: calc(11% - 2rem);
  }
}

/* Responsive design pour les grands écrans */
@media (min-width: 1201px) and (max-width: 1800px) {
  .pokemon-card {
    width: calc(19% - 2rem);
  }
}

/* Responsive design pour les écrans moyens */
@media (min-width: 768px) and (max-width: 1200px) {
  .pokemon-card {
    width: calc(25% - 2rem);
  }

  .header {
    height: 8rem;
  }

  .logo-img {
    max-height: 80px;
  }
}

/* Responsive design pour les petits écrans */
@media (min-width: 481px) and (max-width: 767px) {
  .pokemon-card {
    width: calc(50% - 2rem);
  }

  .header {
    height: 6rem;
  }

  .logo-img {
    max-height: 60px;
  }

  .nav {
    display: none;
  }

  .burger-menu {
    display: flex;
  }
}

/* Responsive design pour les très petits écrans */
@media (max-width: 480px) {
  .pokemon-card {
    width: calc(100% - 2rem);
  }

  .header {
    height: 4rem;
  }

  .logo-img {
    max-height: 40px;
  }

  .nav {
    display: none;
  }

  .burger-menu {
    display: flex;
  }

  .pokemon-card header {
    padding: 0.5rem;
  }

  .pokemon-card h2 {
    font-size: 1.2rem;
  }

  .pokemon-card p {
    font-size: 0.9rem;
  }

  .pokemon-card .pure-button {
    padding: 0.3rem 0;
  }

  .pokemon-detail {
    padding: 1rem;
  }
}
