<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="container">
  <div class="content">
    <h1>404 - Oups ! Vous êtes perdu...</h1>
    <p>Il semble que vous avez pris un mauvais chemin. Mais ne vous inquiétez pas, même Pikachu et ses amis se perdent parfois !</p>
    <img src="/static/images/404.webp" alt="Pokémon perdus" class="lost-pokemon-image">
    <a href="/pokemon" class="back-home-button">Retour à l'accueil</a>
  </div>
</div>

<%- include('partials/footer') %>
