<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="error-container">
  <div class="error-content">
    <h1>Erreur 500 - Oups ! Quelque chose s'est mal passé !</h1>
    <p>On dirait que nos Pokémons ont causé un petit incident technique...</p>
    <img src="/static/images/500.webp" alt="Erreur 500 Pokémon" class="error-image">
    <p>Ne vous inquiétez pas, nos dresseurs de Pokémons travaillent d'arrache-pied pour régler ça !</p>
    <a class="back-button" href="/">Retour à l'accueil</a>
  </div>
</div>

<%- include('partials/footer') %>
