<%- include('partials/head') %>
<body>
    <div class="container">
        <img src="/static/images/bg-header2.png" alt="Pokédex Background" class="background-image">
        <div class="overlay">
            <button class="enter-button">Entrer dans le Pokédex de William</button>
        </div>
    </div>
    <script>
        document.querySelector('.enter-button').addEventListener('click', function() {
            window.location.href = "/pokemon";
        });
    </script>
<%- include('partials/footer') %>
